<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {{> head}}

    <link rel="stylesheet" href="/public/css/pages/game.css">
</head>
<body>
    <header class="space-between">
        <a class="header-main" href="/">
            <i class="fi fi-sr-chess-bishop center"></i>
            <h1>Chess</h1>
        </a>
        <a href="/">
            <i class="fi fi-sr-leave center"></i>
        </a>
        
    </header>

    <main>

        <!-- Waiting for opponent -->
        <div class="layer popup center">
            <div class="searching-for-opponent center">
                <div class="box column">
                    <h2 class="text-center">Oczekiwanie na przeciwnika</h2>
                    <div class="searching-for-opponent-animation center" id="anim"></div>

                    <script src="/public/js/anim.js"></script>

                    <a class="cancel" href="/">Anuluj</a>
                </div>
            </div>
        </div>

        <!-- You win -->
        <div class="layer popup center" id="win" style="display: none; opacity: 0;">
            <div class="you-win center">
                <div class="box column">
                    <h2>Wygrałeś</h2>
                    <p></p>
                    <a class="cancel" href="/">Powrót</a>
                </div>
            </div>
        </div>

        <!-- You lose -->
        <div class="layer popup center" id="lose" style="display: none; opacity: 0;">
            <div class="you-lose center">
                <div class="box column">
                    <h2>Przegrałeś</h2>
                    <p></p>
                    <a class="cancel" href="/">Powrót</a>
                </div>
            </div>
        </div>

        <!-- Draw -->
        <div class="layer popup center" id="draw" style="display: none; opacity: 0;">
            <div class="draw center">
                <div class="box column">
                    <h2>Remis</h2>
                    <p></p>
                    <a class="cancel" href="/">Powrót</a>
                </div>
            </div>
        </div>


        <div class="user-info vertical" style="margin-top: 8%;">
            <h2>Status:</h2>
            <div class="status" style="text-align: center;"></div>
        </div>

        <div class="board">
            <div id="myBoard" style="width: 100%;"></div>
        </div>

        <div class="panel box vertical column">
            <div class="center">
                <i class="fi fi-sr-undo" action="undo"></i>
                <i class="fi fi-sr-handshake" action="draw"></i>
                <i class="fi fi-sr-flag" action="surrender"></i>
            </div>
            <div class="message center text-center"></div>
        </div>

        <div class="user-info box vertical column">
            <h2>PGN:</h2>
            <table class="pgn">
                <tr>
                    <th></th>
                    <th>Białe</th>
                    <th>Czarne</th>
                </tr>
            </table>
        </div>

        <div class="right-panel box horizontal">
            
            <div class="user-info column">
                <h2 style="margin-bottom: .5em;">Status:</h2>
                <div class="status" style="text-align: center;"></div>
            </div>

            <hr>

            <div class="user-info pgn-moves column">
                <h2>PGN:</h2>
                <table class="pgn">
                    <tr>
                        <th></th>
                        <th>Białe</th>
                        <th>Czarne</th>
                    </tr>
                </table>
            </div>

            <hr>

            <div class="options center" style="margin-top: 0.5em;">
                <i class="fi fi-sr-undo" action="undo"></i>
                <i class="fi fi-sr-handshake" action="draw"></i>
                <i class="fi fi-sr-flag" action="surrender"></i>
            </div>
            <div class="message center text-center"></div>
        </div>

    </main>

    <script>
        let playerColor = '{{color}}';
        console.log('Grasz jako ' + playerColor);
    </script>
    <script src="/public/js/index.js"></script>

</body>
</html>