<!DOCTYPE html>
<html lang="pl">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>

    {{> head}}

    <link rel="stylesheet" href="/public/css/pages/index.css">
    
</head>
<body>

    <div class="background">
        
    </div>

    <header>
        <a class="header-main" href="/">
            <i class="fi fi-sr-chess-bishop center"></i>
            <h1>Chess</h1>
        </a>

        <div class="create-account">
            <a class="center" href="https://github.com/olios123/Chess-App" target="_blank">
                <i class="fi fi-brands-github center"></i>
            </a>
        </div>
    </header>

    <main>
        <div class="board-main center">
            <img src="/public/assets/gif/game1.gif" alt="">
        </div>
        <div class="game-main column center">
            <h1 class="title">Najlepsze szachy internetowe!</h1>
            <!-- <div class="statistic row space-between">
                <p class="light text-center">Rozegranych parti: <b>1500</b></p>
                <p class="light text-center">Zarejestrowanych graczy: <b>230</b></p>
            </div> -->

            <div class="find-game row center" style="margin: 1em 0;">
                <div class="column">

                    <h2>Stwórz pokój</h2>
                    <div class="center">
                        <i class="fi fi-sr-dice-alt"></i>
                    </div>
                    
                    <p>Kod pokoju:</p>
                    <input type="text" id="createInput">
                    
                    <button id="createGame">Stwórz pokój</button>
                
                </div>
                <div class="column">
                    <h2 class="center">LUB</h2>
                </div>
                <div class="column">

                    <h2>Dołącz do pokoju</h2>
                    <div class="center">
                        <i class="fi fi-br-search"></i>
                    </div>

                    <p>Kod pokoju:</p>
                    <input type="text" id="joinInput">
                        
                    <button id="joinGame">Dołącz do gry</button>

                </div>
            </div>
            <div class="text-center" style="color: red; margin-bottom: 1em;" id="errorMessage"></div>
        </div>
        
    </main>

    <script>
        $('#createGame').on('click', function() {
            window.location.replace('/white?code=' + $('#createInput').val());
        });
        $('#joinGame').on('click', function() {
            window.location.replace('/black?code=' + $('#joinInput').val());
        });

        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('error') == 'invalidCode') {
            $('#errorMessage').text('Nieprawidłowy kod. Stwórz pokój lub podaj prawidłowy kod.');
        }
    </script>
</body>
</html>