<!DOCTYPE html>
<html lang="pl">
<head>

    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/public/css/pages/login.css">

</head>
<body class="center">

    <div class="background"></div>

    <main class="column">

        <a class="header-main" href="/">
            <i class="fi fi-sr-chess-bishop center"></i>
            <h1>Chess</h1>
        </a>

        <div class="login-form">
            <form action="/accountRegister" method="post" class="column">
                <label for="username">Nick</label>
                <input type="text" id="username" name="username" required>
    
                <label for="password">Hasło</label>
                <input type="password" id="password" name="password" required>

                <label for="confirmPassword">Potwierdź hasło</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
    
                <input type="submit" value="Zarejestuj się">
            </form>
            <p class="text-center">Masz już konto ?</p>
            <span class="text-center" style="width: 100%; display: block;">
                <a id="login" href="/login">Zaloguj się</a>
            </span>
        </div>
        <div class="text-center" style="color: red; margin: 0.75em 0 0.5em 0;" id="errorMessage"></div>

        <a href="/" class="button" style="margin-top: 1em;">
            Powrót
        </a>
    </main>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('error') == 'err') 
        {
            $('#errorMessage').text('Wystąpił błąd.');
        }
    </script>

    
</body>
</html>