<script src="/public/js/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="/public/css/chessboard-1.0.0.min.css" />
<script src="/public/js/chessboard-1.0.0.min.js"></script>
<script src="/public/js/chess-0.10.3.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>let socket = io();</script>

<link rel="stylesheet" href="/public/css/fonts.css">
<link rel="stylesheet" href="/public/css/static.css">
<link rel="stylesheet" href="/public/css/style.css">
<link rel="stylesheet" href="/public/css/board.css">

<!-- Media Queries -->
<link rel="stylesheet" href="/public/css/mobile/responsive.css">

<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css'>