<header>
    <a class="header-main" href="/">
        <i class="fi fi-sr-chess-bishop center"></i>
        <h1>Chess</h1>
    </a>

    <div class="create-account">
        <a class="center" href="https://github.com/olios123/Chess-App" target="_blank">
            <i class="fi fi-brands-github center"></i>
        </a>
    </div>
</header>